
.navbar.navbar-light {
    border-bottom: 1px solid #eee
}

.footer {
    border-top: 1px solid #eee;
    padding: 20px 0;
    font-size: 14px;

    .nav-link {
        display: block;
        padding: 0 1rem;
        line-height: 22px;
    }
}